///Index///
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Lang</title>
		<!-- <script src="public/htmx.min.js"></script> -->
		<script
			src="https://unpkg.com/htmx.org@2.0.1"
			integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
			crossorigin="anonymous"
		></script>
		<script src="https://unpkg.com/htmx-ext-sse@2.2.1/sse.js"></script>
	</head>
	<body>
		<div id="app">$$body</div>
	</body>
</html>

///Home View///
<main>
	<button
		hx-get="/create-room"
		hx-trigger="click"
		hx-target="#app"
		hx-swap="innerHTML"
	>
		Create Room
	</button>
</main>

///Create Room View///
<main>
	<form hx-post="/create-room" hx-target="#app" hx-swap="innerHTML">
		<input type="text" name="title" placeholder="Room Title" />
		<button type="submit">Create Room</button>
	</form>
</main>

///Room View///
<main hx-ext="sse" sse-connect="/listen/$$rid">
	<h1 sse-swap="updateTitle"></h1>
	<section>
		<button hx-post="/room/$$rid/createUser" hx-trigger="click" hx-swap="none">
			Create User
		</button>
		<!-- <div hx-get="/room/$$rid/users" hx-trigger="load, sse:updateUsers"></div> -->
		<div sse-swap="updateUsers"></div>
	</section>
	<section>
		<div sse-swap="updateChat"></div>
		<select sse-swap="updateLanguages"></select>
		<form hx-post="/room/$$rid/send" hx-trigger="submit" hx-swap="none">
			<input type="text" name="message" placeholder="Message" />
			<button type="submit">Send</button>
		</form>
		<!-- <div hx-get="/room/$$rid/chat" hx-trigger="load, sse:updateChat"></div> -->
		<!-- <select
			hx-get="/room/$$rid/$$uid/languages"
			hx-trigger="load, sse:updateLanguages"
			></select> -->
	</section>
	<script>
		document
			.querySelector('main')
			.addEventListener('htmx:sseBeforeMessage', (event) => {
				console.log(JSON.stringify(event));
				console.log(JSON.stringify(event.detail));
				console.log(JSON.stringify(event.detail.data));
				console.log(JSON.stringify(Object.keys(event)));
				console.log(JSON.stringify(Object.keys(event.detail)));
				console.log(JSON.stringify(Object.keys(event.detail.data)));
			});
	</script>
</main>

///Users View///
<div>hello</div>

///User///
<div>
	<h2>$$username</h2>
</div>

///Chat Message///
<div>
	<h2>$$username</h2>
	<p>$$message</p>
</div>

///Chat View///
<section hx-get="/room/$$rid/chat" hx-trigger="sse:updateChat"></section>

/// dead ///
<div>dead</div>
